body{

    background-color: black;
}

/* Estilo específico para a página de login */
.login-container {
    max-width: 300px;
    margin: 200px auto; /* Centraliza o formulário na tela */
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    margin-bottom: 1.5rem;
    color: #007bff;
    
}

.login-container label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.login-container input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.login-container button {
    width: 100%;
    padding: 0.75rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #0056b3;
}

/* Media query para telas pequenas (ex: dispositivos móveis) */
@media (max-width: 480px) {
    .login-container {
        max-width: 90%; /* Ajusta a largura do formulário para 90% da tela */
        margin: 4rem auto; /* Reduz a margem superior para telas menores */
        padding: 1.5rem; /* Reduz o padding */
    }

    .login-container h2 {
        font-size: 1.5rem; /* Ajusta o tamanho da fonte do título */
    }

    .login-container input, .login-container button {
        padding: 0.75rem; /* Aumenta o padding para toques mais fáceis em dispositivos móveis */
    }
}
